/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$primary: #673ab7;
$accent: #ffd740;
$warn: #f44336;